@import "tailwindcss";

@theme {

  /* Color variables  */
  --color-wizard-white: #e1f0ff;
  --color-blue-leviathan: #022c61;
  --color-private-jet: #879bb4;
  --color-cosmic-void: #070734;
  --color-london-rain: #0057b8;
  --color-primary-white: #ffffff;
  --color-sky-blue: #47b1f6;

  /* Helvetica Fonts */
  --font-helvetica-regular: var(--font-helvetica-regular);
  --font-helvetica-semibold: var(--font-helvetica-semibold);
  --font-helvetica-bold: var(--font-helvetica-bold);
  --font-helvetica-light: var(--font-helvetica-light);
  --font-helvetica-thin: var(--font-helvetica-thin);
  --font-helvetica-regular-italic: var(--font-helvetica-regular-italic);
  --font-helvetica-bold-italic: var(--font-helvetica-bold-italic);
  --font-helvetica-light-italic: var(--font-helvetica-light-italic);
  --font-helvetica-thin-italic: var(--font-helvetica-thin-italic);

  /* Figtree Fonts */
  --font-figtree: var(--font-figtree);
  
}

.active {
  @apply bg-[#070734] text-white  rounded-[25px] hover:transform hover:scale-105 transition-all ease-in-out duration-300 py-2 sm:py-0;
}


